user  nginx;
worker_processes  1;

error_log  /var/log/nginx/nginx-error.log warn;
pid        /var/run/nginx.pid;


events {
  worker_connections  1024;
}


http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/nginx-access.log  main;

  sendfile        on;
  #tcp_nopush     on;

  keepalive_timeout  65;

  send_timeout 6000;
  proxy_read_timeout 6000;

  gzip on;
  client_max_body_size 102400m;
  chunked_transfer_encoding on;
  proxy_buffering off;
  proxy_request_buffering off;
  server_names_hash_bucket_size 128;

  # return 403 for unknown hosts
  server {
    listen 80;
    server_name  "";
    return 403;
  }
  # return 403 for unknown hosts
  server {
    listen 443;
    server_name  "";  
    ssl_certificate  /etc/nginx/certs/ssl.crt;
    ssl_certificate_key /etc/nginx/certs/ssl.key;
    ssl_client_certificate /etc/nginx/certs/ssl.ca.crt;
 {% if ssl_cert_required is defined %}
   ssl_verify_client on;
 {% elif ssl_cert_optional is defined %}
   ssl_verify_client optional;
 {% endif %}
    chunked_transfer_encoding on;
    return 403;
  }

  # include generated server configs
  include /etc/nginx/conf.d/*.conf;
}
