input {
	tcp {
    port => 25826
    type => syslog
  }
  udp {
    port => 25826
    type => syslog
  }
}

filter {
  if [type] == "syslog" {
    if "docker/app" in [message] {
      grok {
        match => { "message" => "docker\/app\/%{DATA:syslog_program}(?:\[%{POSINT:pid}\])?: %{GREEDYDATA:message}" }
        overwrite => [ "message" ]
      }
      mutate {
        add_field => {
          "project" => "%{syslog_program}"
          "branch" => "%{syslog_program}"
          "rev" => "%{syslog_program}"
        }
      }
      mutate {
        gsub => [
          "project", "\/.*", "",
          "rev", ".*\/", "",
          "branch", "^[^/]+/", ""
        ]
      }
      mutate {
        gsub => [
          "branch", "\/.*", ""
        ]
      }
      mutate {
        remove_field => [ "syslog_program" ]
      }


    } else if "docker" in [message] {
      grok {
        match => { "message" => "%{SYSLOGBASE} %{DATA:message}" }
        overwrite => [ "message" ]
      }
    }
  }
}

output {
  amazon_es {
    hosts => ["$ES_HOST"]
    region => "$AWS_REGION"
    aws_access_key_id => '$ACCESS_KEY'
    aws_secret_access_key => '$SECRET_KEY'
    index => "$ENVIRONMENT-logs-%{+YYYY.MM.dd}"
  }
}
